<div id="main">
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="submit(registerForm)">

      <h3>Registrate!</h3>
    
      <label>Nombre</label>
      <input formControlName="nombre" class="in" type="text" placeholder="Tu nombre aquí" id="username">
    
      <label>Apellido</label>
      <input formControlName="apellido" class="in" type="text" placeholder="Tu apellido aquí">
    
      <label>Correo</label>
      <input formControlName="correo" class="in" type="text" placeholder="Tu correo">
    
      <label>Contraseña</label>
      <input formControlName="contrasenia" class="in"  type="password" placeholder="Tu contraseña">
    

      <button type="submit" class="btn">Regístrame</button>

    </form>
    </div>
    